---
import { Image } from "astro:assets";
import Layout from "layouts/Layout.astro";
import { getPlaylists } from "lib/spotify/playlists";

export const prerender = false;

const { session } = Astro.locals;

if (!session) {
  return Astro.redirect("/signin");
}

const { items } = await getPlaylists({
  session,
});
---

<Layout title="playlists">
  <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    {
      items?.map((playlist) => {
        const image = playlist.images?.at(0);
        return (
          <li>
            <a href={`playlist/${playlist.id}`}>
              <div class="grid grid-cols-[100px_1fr] gap-2">
                {image && (
                  <Image
                    transition:name={`${playlist.name}-image`}
                    class="rounded-md"
                    src={image.url}
                    width={100}
                    height={100}
                    alt={playlist.name}
                  />
                )}
                <div
                  class="flex flex-col gap-2 truncate"
                  transition:name={`${playlist.name}-name`}
                >
                  <h3 class="font-semibold text-xl truncate">
                    {playlist.name}
                  </h3>
                  <p class="font-normal text-md truncate">
                    {playlist.owner.display_name}
                  </p>
                </div>
              </div>
            </a>
          </li>
        );
      })
    }
  </ul>
</Layout>
